.oltni { 
  border-left-width: 55px;
  font-size: 38px;
  line-height: 22px;
  padding-right: 28px;
  margin-top: 56px;
  border-top-width: 74px;
  line-height: 86px;
  border-right-width: 82px;
  margin-bottom: 70px;
  padding-top: 66px;
  border-bottom-width: 88px;
  border-bottom-width: 87px;
  margin-left: 42px;
  margin-right: 38px;
  margin-top: 37px;
  margin-left: 15px;
  line-height: 16px;
  padding-top: 31px;
  padding-bottom: 31px;
  line-height: 97px;
  line-height: 43px;
  padding-left: 16px;
  font-size: 43px;
  font-size: 39px;
  padding-right: 36px;
  border-bottom-width: 4px;
  margin-top: 91px;
  margin-top: 85px;
  border-top-width: 66px;
  border-left-width: 33px;
  margin-right: 5px;
  border-left-width: 49px;
  padding-bottom: 7px;
  padding-left: 60px;
  border-top-width: 52px;
}
