.oltni { 
  border-left-width: 55px;
  font-size: 38px;
  line-height: 22px;
  padding-right: 28px;
  margin-top: 56px;
  border-top-width: 74px;
  line-height: 86px;
  border-right-width: 82px;
  margin-bottom: 70px;
  padding-top: 66px;
  line-height: 10px;
  padding-left: 72px;
  border-bottom-width: 6px;
  margin-right: 77px;
  border-top-width: 39px;
  border-bottom-width: 87px;
  margin-top: 31px;
  border-bottom-width: 82px;
  border-bottom-width: 21px;
  padding-top: 38px;
  margin-bottom: 27px;
  margin-top: 2px;
  border-left-width: 19px;
  line-height: 33px;
  padding-top: 86px;
  border-right-width: 81px;
  margin-bottom: 82px;
  line-height: 65px;
}
