.odtdm { 
  border-top-width: 53px;
  border-left-width: 49px;
  margin-right: 43px;
  font-size: 46px;
  line-height: 15px;
  border-top-width: 5px;
  border-bottom-width: 4px;
  border-top-width: 89px;
  border-bottom-width: 58px;
  border-top-width: 9px;
  margin-left: 0px;
  border-bottom-width: 99px;
  font-size: 85px;
  border-left-width: 28px;
  padding-left: 28px;
  padding-right: 80px;
  padding-left: 6px;
  padding-right: 38px;
  padding-top: 36px;
  padding-bottom: 24px;
  margin-bottom: 29px;
  font-size: 16px;
  padding-left: 78px;
  padding-bottom: 69px;
  padding-left: 80px;
  margin-left: 94px;
  margin-top: 77px;
  margin-bottom: 33px;
  border-right-width: 47px;
  padding-right: 94px;
  border-left-width: 55px;
  padding-top: 26px;
  margin-top: 34px;
  border-top-width: 71px;
  padding-left: 23px;
  border-right-width: 92px;
  margin-left: 87px;
  padding-top: 32px;
  margin-bottom: 21px;
  padding-left: 3px;
  padding-top: 20px;
  margin-bottom: 16px;
  padding-bottom: 76px;
  padding-bottom: 1px;
  border-bottom-width: 38px;
  border-top-width: 18px;
  margin-left: 13px;
  padding-right: 27px;
  border-left-width: 38px;
  margin-right: 80px;
  border-left-width: 57px;
  border-left-width: 86px;
  border-left-width: 48px;
  border-bottom-width: 78px;
  padding-right: 13px;
  border-top-width: 22px;
  margin-top: 30px;
  border-left-width: 96px;
  border-right-width: 64px;
  border-left-width: 2px;
  font-size: 71px;
  border-top-width: 93px;
  border-left-width: 61px;
  border-bottom-width: 27px;
  border-left-width: 91px;
  margin-right: 92px;
  margin-left: 82px;
  font-size: 65px;
  line-height: 87px;
  margin-left: 47px;
  padding-bottom: 33px;
  margin-bottom: 6px;
  margin-bottom: 27px;
  line-height: 86px;
  line-height: 82px;
  border-left-width: 22px;
  margin-right: 3px;
  padding-right: 32px;
  margin-bottom: 72px;
  border-left-width: 87px;
  margin-right: 32px;
  margin-bottom: 78px;
  margin-top: 30px;
  border-right-width: 64px;
  border-right-width: 42px;
  margin-top: 34px;
}
